<div class="wrapper">
    <div class="registration">
        <h2 class="form-header">Create Account</h2>
        <form id="registrationForm" class="registration-form" >
            <label for="regName">Your Name and Surname</label>
            <input type="text" name="name" id="regName" placeholder="Name and Surname" required
                   ng-model="rc.regUser.name"/>

            <label for="regEmail">Your Email Address</label>
            <input type="email" name="email" id="regEmail" placeholder="Email" required
                ng-model="rc.regUser.email"/>

            <label for="regPassword">Create a Password</label>
            <input type="password" name="password" id="regPassword" placeholder="Password" required
                   ng-model="rc.regUser.password"/>

            <button class="" ng-click="rc.signup()">Create account</button>

            <pre>{{rc.signinUser}}</pre>

        </form>

        <div class="create-account">
            <p>Already have an account?</p>
            <a href="#/signin">Sign in</a>
        </div>
    </div>
</div>