.container {
  padding: 20px; }

.form-header {
  margin: 0 auto;
  text-align: center;
  color: #228B22; }

.sign-in-form,
.registration-form {
  width: 320px;
  margin: 0 auto;
  padding: 20px; }
  .sign-in-form label,
  .registration-form label {
    color: #7C7C7C; }
  .sign-in-form input,
  .sign-in-form button,
  .registration-form input,
  .registration-form button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    font-size: 22px;
    padding: 0 10px; }
  .sign-in-form a.btn,
  .registration-form a.btn {
    display: block;
    color: white;
    margin-bottom: 10px;
    border: none;
    font-size: 22px;
    height: 40px; }

.create-account {
  width: 320px;
  margin: 0 auto;
  text-align: center; }
  .create-account a {
    font-size: 18px;
    color: #228B22; }

.create-user {
  float: right; }

.training-block {
  width: 400px;
  height: auto;
  min-height: 130px;
  background-color: #b2dba1;
  display: inline-block;
  position: relative;
  padding: 20px;
  margin: 20px; }

.exercises-container {
  margin: 40px 0; }
  .exercises-container h3 {
    display: inline-block;
    margin: 10px 0; }
  .exercises-container i {
    display: inline-block;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }

.progress-outer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 400px;
  height: 6px;
  color: #3a9cc8;
  background-color: #fff; }

.progress-inner {
  background-color: #3a9cc8; }

.animate-show {
  transition: all linear 1s;
  opacity: 1; }

.animate-show.ng-hide {
  opacity: 0; }

.repeat-item.ng-enter,
.repeat-item.ng-move {
  transition: 1s linear all;
  opacity: 0; }

.repeat-item.ng-enter.ng-enter-active,
.repeat-item.ng-move.ng-move-active {
  opacity: 1; }

.repeat-item.ng-leave {
  animation: 1s leaving_animation; }

@keyframes leaving_animation {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

h3 {
  margin: 0;
  padding: 0; }
