<div class="exercises">
    <div class="exercises-container">
        <i ng-class="{'bg-danger': $state.includes('exercises.strength'),
                    'bg-success': $state.includes('exercises.endurance'),
                    'bg-warning': $state.includes('exercises.stretching')}"></i>
        <h3>Exercises types</h3>
        <div class="row">
            <a ui-sref="exercises.stretching"
               ui-sref-active="btn-warning"
               class="btn btn-success">Stretching</a>
            <a ui-sref="exercises.endurance"
               ui-sref-active="btn-warning"
               class="btn btn-success">Endurance</a>
            <a ui-sref="exercises.strength"
               ui-sref-active="btn-warning"
               class="btn btn-success">Strength</a>
        </div>


        <div class="row" ui-view></div>
    </div>


    <pre>{{ec.editableExercise}}</pre>

    <h2>Exercise from server</h2>
    <div class="training-block" ng-repeat="exercise in ec.exercises" ng-click="ec.editExercise(exercise)">
        <h3>{{exercise.title}}
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </h3>
        <i>{{exercise.type}}</i>
    </div>


    <button class="btn btn-primary" ng-model="showEditForm"
            ng-click="showEditForm = !showEditForm">
        Add Exercise
    </button>


    <div class="exercises-form animate-show" ng-show="showEditForm">
        <h2>Exercise Editing</h2>
        <!-- <form  name="addExercise"> -->
        <form name="editExercise">
            <div class="form-group">
                <label for="exerciseTitle">Name</label>
                <input type="text" class="form-control" id="exerciseTitle" placeholder="Title"
                       ng-model="ec.editableExercise.title">
            </div>

            <div class="form-group">
                <label for="exerciseType">Type</label>
                <input type="text" class="form-control" id="exerciseType" placeholder="Exercise Type"
                       ng-model="ec.editableExercise.type">
            </div>



            <button class="btn btn-primary" ng-click="ec.createExercise(ec.editableExercise)">Create Exercise</button>

            <button class="btn btn-success" ng-click="ec.saveExercise()">Save</button>
            <button class="btn btn-default" ng-click="ec.cancelEditExercise()">Cancel</button>
            <button class="btn btn-danger" ng-click="ec.removeExercise(ec.editableExercise)">Delete</button>

        </form>
    </div>
    

</div>