<form ng-show="uc.editFormShow" name="editUser">
	<div class="form-group">
		<label for="inputName">Name</label>
		<input type="text" class="form-control" id="inputName" placeholder="Name"
			   ng-model="uc.editableUser.name">
	</div>
	<div class="form-group">
		<label for="inputEmail">Email</label>
		<input type="email" class="form-control" id="inputEmail" placeholder="Email"
			   ng-model="uc.editableUser.email">
	</div>
	<button type="submit" class="btn btn-success" ng-click="uc.saveUser()">Save</button>
	<button type="submit" class="btn btn-default" ng-click="uc.cancelEditUser()">Cancel</button>
	<button type="submit" class="btn btn-danger" ng-click="uc.removeUser()">Delete</button>

</form>

<pre>{{uc.editableUser | json}}</pre>
<pre>{{editUser | json}}</pre>

<label for="findUser"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
<input type="search" id="findUser" value="" ng-model="userSearch" />
<button class="create-user btn btn-primary" ng-click="uc.createUser()">Create user</button>


<table class="table table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Fullname</th>
			<th>Email</th>
			<th>Gender</th>
			<th>Age</th>
			<th>Registered</th>
		</tr>
	</thead>

	<tbody>
		<tr class="repeat-item" ng-repeat="user in uc.users | filter:userSearch"
				ng-click="uc.editUser(user)">
			<td>{{$index +1}}</td>
			<td>{{user.name}}</td>
			<td>{{user.email}}</td>
			<td>{{user.gender}}</td>
			<th>{{user.age}}</th>
			<td>{{user.registered | date}}</td>
		</tr>
	</tbody>
</table>

<h4 ng-repeat="props in uc.user">{{props.$value}}

</h4>
