
.container {
	//background-color: gold;
	padding: 20px;
}

// Sign in and Registration
.form-header {
	margin: 0 auto;
	text-align: center;
	color: #228B22;
}

.sign-in-form,
.registration-form {

  width: 320px;
  margin: 0 auto;
  padding: 20px;

  label {
	color: #7C7C7C;
  }

  input,
  button {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	height: 40px;
	font-size: 22px;
	padding: 0 10px;
  }
  
  a.btn {
	//background-color: #228B22;
	display: block;
	color: white;
	margin-bottom: 10px;
	border: none;
    font-size: 22px;
    height: 40px;
  }
}

.create-account {
  width: 320px;
  margin: 0 auto;
  text-align: center;

  a {
	font-size: 18px;
	color: #228B22;
  }
}





// Workout Page
.training-block {
  width: 400px;
  height: auto;
  min-height: 130px;
  background-color: #b2dba1;
  display: inline-block;
  position: relative;
  padding: 20px;

  margin: 20px;
}


// Exercises Page
.exercises-container {
  margin: 40px 0;

  h3 {
	display: inline-block;
	margin: 10px 0;
  }

  i {
	display: inline-block;
	width: 50px;
	height: 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
  }
}


// Progress Directive
.progress-outer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 400px;
  height: 6px;
  color: #3a9cc8;
  background-color: #fff;
}

.progress-inner {
	background-color: #3a9cc8;
}