<div class="main-content workout">
    <h2>Workouts</h2>
    <p>Here you can check all your workouts.</p>


    <div class="training-block">
        <h3>Beginner's Training</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolores expedita non suscipit veniam vero.</p>
    </div>

    <div class="training-block">
        <h3>Advanced Training</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolores expedita non suscipit veniam vero.</p>
    </div>

    <div class="training-block">
        <h3>Beginner's Training</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolores expedita non suscipit veniam vero.</p>
    </div>

    <div class="training-block">
        <h3>Beginner's Training</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolores expedita non suscipit veniam vero.</p>
    </div>


    <pre>{{wc.editableWorkout}}</pre>

    <h2>Workouts from server</h2>
    <div class="training-block" ng-repeat="workout in wc.workouts" ng-click="wc.editWorkout(workout)">
        <h3 contenteditable="true">{{workout.title}}
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </h3>
        <p>{{workout.type}}</p>
    </div>


    <h2>Adding New Workouts</h2>
    <!-- <form ng-show="wc.editFormShow" name="addWorkout"> -->
    <form name="addWorkout">
        <div class="form-group">
            <label for="workoutTitle">Name</label>
            <input type="text" class="form-control" id="workoutTitle" placeholder="Title"
                   ng-model="wc.editableWorkout.title">
        </div>
        <div class="form-group">
            <label for="workoutType">Type</label>
            <input type="text" class="form-control" id="workoutType" placeholder="Workout Type"
                   ng-model="wc.editableWorkout.type">
        </div>
        <button class="btn btn-primary" ng-click="wc.createWorkout(wc.editableWorkout)">Create user</button>

        <button class="btn btn-success" ng-click="wc.saveWorkout()">Save</button>
        <button class="btn btn-default" ng-click="wc.cancelEditWorkout()">Cancel</button>
        <button class="btn btn-danger" ng-click="wc.removeWorkout(wc.editableWorkout)">Delete</button>

    </form>


</div>