<div class="main-content workout">
    <h2>Workouts</h2>
    <p>Here you can check all your workouts.</p>


    <div class="training-block">
        <h3>Beginner's Training</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolores expedita non suscipit veniam vero.</p>
    </div>

    <div class="training-block">
        <h3>Advanced Training</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolores expedita non suscipit veniam vero.</p>
    </div>

    <div class="training-block">
        <h3>Beginner's Training</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolores expedita non suscipit veniam vero.</p>
    </div>

    <div class="training-block">
        <h3>Beginner's Training</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolores expedita non suscipit veniam vero.</p>
    </div>


    <h2>Adding New Workouts</h2>
    <!-- <form ng-show="wc.editFormShow" name="addWorkout"> -->
    <form name="addWorkout">
        <div class="form-group">
            <label for="workoutTitle">Name</label>
            <input type="text" class="form-control" id="workoutTitle" placeholder="Title"
                   ng-model="wc.editableWorkout.title">
        </div>
        <div class="form-group">
            <label for="workoutType">Email</label>
            <input type="text" class="form-control" id="workoutType" placeholder="Workout Type"
                   ng-model="wc.editableWorkout.type">
        </div>
        <button type="submit" class="btn btn-success" ng-click="wc.createWorkout(wc.editableWorkout)">Save</button>
        <button type="submit" class="btn btn-default" ng-click="wc.cancelEditWorkout()">Cancel</button>
        <button type="submit" class="btn btn-danger" ng-click="wc.removeWorkout()">Delete</button>

    </form>


</div>