.container {
  background-color: gold;
  padding: 20px; }

.training-block {
  width: 400px;
  height: auto;
  min-height: 130px;
  background-color: #b2dba1;
  display: inline-block;
  position: relative;
  padding: 20px;
  margin: 20px; }

h3 {
  margin: 0;
  padding: 0; }
